.container {
	@apply flex items-center justify-center gap-2;
}

.roundsContainer {
	@apply mt-1 flex items-center justify-center gap-3;
}

.button {
	@apply mt-1 opacity-20 transition-opacity hover:opacity-100 disabled:opacity-20;
}

.round {
	@apply relative h-5 w-5 rounded border border-border;

	&::before {
		@apply rounded-l bg-primary transition-all duration-300;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
	}

	&.active::before {
		@apply duration-1000;
		width: 40%;
	}

	&.completed::before {
		@apply rounded;
		width: 100%;
	}
}
